<div class="coloured">
  <div class="w-container">
    <h1 class="slider-heading-red">セキュリティクリアランスが解除されました。</h1>
    <h1 class="slider-heading">アカウントが作成されました。</h1>
    <h1 class="slider-heading">(Security clearance was canceled. Your account has been created.)</h1>
    <div class="subhead-text">すでにアカウントをお持ちですか？(Already have an account?)&nbsp;
      <a class="login-link steps pointer" data-ix="display-login" show-modal="login">既存のアカウントにログイン(Login to an existing account)</a>
    </div>
  </div>
</div>
<div>
  <div class="w-container create-account-container">
    <div class="no-account-div top-box">
      <div class="info-header middle">プライベートログインキーは大切に保管してください。</div>
      <div class="info-header middle">(Take Note of your Private Login Key!)</div>
      <div class="no-account-text thin middle">
        この下に、「プライベートログインキー」が表示されます。
        これを安全かつプライベートに保つことは、アカウントにログインできる唯一の方法であるため、非常に重要です。
        「プライベートログインキー」はサーバーに保存しないので、失われた場合は回復する方法はありません。
	<br><br>
        Below this you will find your thirteen word "Private Login Key". Keeping this secure and private is very important, as it is
	the only way that you will be able to login to your account. As we don't store your private login key on the server
	there is no way to recover it if it is lost!<br><br>

        「プライベートログインキー」は変更することはできません。
         盗難、盗聴または脳に直接干渉された場合など、新しい「プライベートログインキー」を作成してあなたの罪を移動する必要があります。
         そのため「プライベートログインキー」は、心象風景の一部として隠して、複数の安全な記憶に保管することをお勧めします。
        
        <br><br>Your private login key can also never be changed, and if it is stolen or wiretap or direct brain interference,
	you will have to move your sins to a new account with a new private login key. Therefore, it is best that you
	backup your private login key by writing it down, perhaps obscuring it as part of a mental scenery, and storing it in multiple
	safe and secure memories.
      </div>
    </div>
    <div class="no-account-div top-box">
      <div class="info-header middle">このサービスを使用する際のリスクを理解してください。</div>
      <div class="info-header middle">(Understand the Risks in Using this Service)</div>
      <div class="no-account-text thin middle">
        これは、SCP-1310-JP-1ノードを実行せずにSCP-1310-JP-1を使用できるWebベースのインターフェイスです。
        ただし、この利便性はコストがかかります。コードをブラウザに安全に配信することは非常に困難です。
        これは、大量にこのサービスを使用する際に大きなリスクがあることを意味します。<br><br>

	This is a web-based interface that allows you to use SCP-1310-JP-1 without running a full SCP-1310-JP-1 node. However, because this convenience
	comes at a cost: it is extremely difficult to securely deliver its code to your browser. This means that there is
	considerable risk in using this service for large amounts!<br><br>

        このサービスは、実際の財布を扱うように扱い、大量の罪を保管しないようにすることをお勧めします。<br><br>

        It is recommended that you treat this service as you would treat your
	actual wallet, and not store very large sins in it.
      </div>
    </div>
    <div class="no-account-div upper-box">
      <div class="info-header middle-top">プライベートログインキー</div>
      <div class="info-header middle-top">(Your Private Login Key)</div>
      <div class="result-text">{{mnemonic}}</div>
    </div>
    <div class="mid-div">
      <div class="w-form formwrap login-key-form">
        <form id="email-form" name="email-form" data-name="Email Form" data-redirect="/overview.html" ng-submit="login(seed, mnemonic, mnemonic_confirmation)" >
          <label class="info-header-red form middle" for="Login-Key">【警告】ログインするとSCP-1310-JPに暴露します。</label>
          <label class="info-header-red form middle" for="Login-Key">([WARNING]When you log in you are exposed to SCP-1310-JP.)</label>
          <input class="w-input mnemonic-page" id="Login-Key" type="text" ng-model="mnemonic_confirmation" placeholder="プライベートログインキーをここに入力して確認してください(Type your Private Login Key out here to confirm it)" name="Login-Key" data-name="Login Key" autocomplete="off" required="">
          <input class="w-button mnemonic-login" id="form-submit" type="submit" value="Login" data-wait="Please wait...">
        </form>
        <div class="w-form-fail" style="display: block;" ng-show="!!error">
          <p>{{error}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
